<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/footer.css">

  <script src="../javascript/login.js"></script>
  <script src="https://kit.fontawesome.com/8bedfba391.js" crossorigin="anonymous"></script>

  <title>Login page</title>
</head>
<body>
  <header>
    <i id="menu-icon" class="fa-solid fa-bars"></i>
    <h1>Trackgenix S.A.</h1>
    <div class="social-networks-icons">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
    </div>
  </header>
  <div class="main-container">
    <aside>
      <form action="#" id="search-bar">
        <input type="search" placeholder="Search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </form>
      <div class="nav-menu">
        <span>Menu</span>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="employee-sign-up.html">Sign up</a></li>
          <li><a href="#">Log in</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
    </aside>
    <main>
      <div class="form-container">
        <h2>Login</h2>
        <form id="login">
          <input id="email-input" type="text" placeholder="Enter your email" name="email">
          <p id="email-required" class="error hidden">Email is required</p>
          <p id="invalid-email" class="error hidden">Enter a valid email</p>
          <input type="password" placeholder="Enter your password" name="psw" class="psw">
          <p id="psw-required" class="error hidden">Password is required</p>
          <p id="psw-inc" class="error hidden">Incorrect password</p>
          <label id="remember">
          <input type="checkbox"> Remember me
          </label>
          <a href="#" class="f-psw">Forgot password?</a>
          <input type="button" value="Continue" class="button">
        </form>
      </div>
    </main>
  </div>
  <footer>
    <div class="social-networks-icons">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
    </div>
    <p class="copy">Copyright &copy; 2022 Trackgenix. All rights reserved.</p>
  </footer>

</body>
</html>