<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="https://kit.fontawesome.com/8bedfba391.js" crossorigin="anonymous"></script>
    <title>Sign up page</title>
  </head>
  <body>
    <header>
      <i id="menu-icon" class="fa-solid fa-bars"></i>
      <h1>Trackgenix S.A.</h1>
      <div class="social-networks-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </div>
    </header>
    <div class="main-container">
      <aside>
        <form action="#" id="search-bar">
          <input type="search" placeholder="Search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </form>
        <div class="nav-menu">
          <span>Menu</span>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="sign-up.html">Sign up</a></li>
            <li><a href="login.html">Log in</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
      </aside>
      <main>
        <div class="form-container">
          <h2>Sign Up</h2>
          <form id="sign-up">
            <div>
              <label for="name">Name</label>
              <input type="text" placeholder="Name" name="name">
            </div>
  
            <div>
              <label for="ln">Last Name</label>          
              <input type="text" placeholder="Last Name" name="ln">
            </div>
  
            <div>
              <label for="dni">DNI</label>          
              <input type="number" placeholder="DNI" name="dni">
            </div>

            <div>
              <label for="d-birth">Date of birth</label>          
              <input type="date" placeholder="Enter date" name="d-birth">
            </div>

            <div>
              <label for="phone">Phone number</label>          
              <input type="number" placeholder="" name="phone">
            </div>

            <div>
              <label for="adress">Adress</label>          
              <input type="text" placeholder="" name="adress">
            </div>

            <div>
              <label for="location">Location</label>          
              <input type="text" placeholder="" name="location">
            </div>

            <div>
              <label for="post-code">Postal code</label>          
              <input type="text" placeholder="" name="post-code">
            </div>

            <div>
              <label for="email">Email</label>          
              <input type="text" placeholder="Email" name="email" class="email-input">
            </div>
  
            <div>
              <label for="psw">Password</label>          
              <input type="password" placeholder="Password" name="psw">
            </div>
  
            <div>
              <label for="repeat-psw">Repeat password</label>          
              <input type="password" placeholder="Repeat password" name="repeat-psw">
            </div>
           
            <input type="submit" value="Continue" class="button">
          </form>
        </div>
      </main>
    </div>
    <footer>
      <div class="social-networks-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </div>
      <p class="copy">Copyright &copy; 2022 Trackgenix. All rights reserved.</p>
    </footer>
  </body>
</html>