/* MOBILE*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;  
  margin: auto;
  padding: 0px 10px;
  border-bottom: 5px solid red;
}

#menu-icon {
  font-size: 30px;
}

h1 {
  flex-grow: 1;
  margin-left: 35px;
}

header .social-networks-icons{
  display: none;
}

header .social-networks-icons {
  align-self: flex-start;
  width: 115px;
  margin-top: 10px;
}
.social-networks-icons i {
  font-size: 15px;
  color: black;
}

/* TABLET */

@media (min-width: 480px) {

  header {
    height: 80px;
  }
}

/* DESKTOP */

@media (min-width: 1024px ) {

  header {
    height: 100px;
  }

  #menu-icon {
    display: none;
  }
}