header, main, footer, nav, section {
  border: 0px solid blue;
}

body {
  font-family: 'Roboto';
}

header {
  position: relative;
  left: 288px;
  height: 100px;
  width: 1152px;
  background: white;
  border-bottom: 5px solid #FF5500;
  z-index: 1;
}

h1 {
  position: absolute;
  top: 23px;
  left: 100px;
  font-family: 'Poppins' monospace;
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px
}

li {
  font-size: 20px;
}

p {
  display: inline;
  font-size: 16px;
}

.button {
  width: 46px;
  border-radius: 5px;
  border: 1px solid #FF5500;
  background: white;
}

#menu-icon {
  position: absolute;
  top: 35px;
  left: 30px;
  height: 30px;
  width: 30px;
  color: #FF5500;
}

.social-networks-icons {
  position: absolute;
  width: 200px;
  padding: 5px 10px;
  right: 20px;
  bottom: 20px;
}

.social-networks-icons i {
  color: black;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 288px;
  height: 100%;
  background-color: #DDDDDD;
}

main {
  position: absolute;
  top: 100px;
  left: 288px;
  width: 1152px;
}

#about-us{
  height: 500px;
  
}

.about-us-img {
  width: 525px;
  height: 401px;
}

#functionalities {
  height: 461px;
}

.functionalities-item {
  position: relative;
}

.functionalities-item i {
  font-size: 130px;
}

#why-trackgenix  {
  height: 368px;
}

#why-trackgenix > div{
  display: inline-block;
  margin-left: 130px;
}

.why-trackgenix-img {
  position: absolute;
  right: 142px;
  width: 280px;
  height: 267.56px;
}

#contact {
  height: 512px;
}

#our-story {
  height: 380px;
}

.our-story-img {
  width: 435.61px;
  height: 219.38px;
}

footer {
  position: absolute;
  width: 1152px;
  height: 416px;
  top: 2321px;
  left: 288px;
}

#our-services {
  position: relative;
  margin: auto;
  height: 316px;
}

.our-services-item {
  position: relative;
  display: inline-block;
  width: 33%;
  margin-top: 97.333px;
  background-color: #FF5500;
  text-align: center;
}


#social-networks-footer {
  position: relative;
  margin: auto;
}

.copy{
 text-align: center;
}
