/* MOBILE */
main{
  padding: 0px 32px;
}
section {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  max-width: 1400px;
  align-items: stretch;
  margin: auto;
}

section:not(:last-child) {
  border-bottom: 1px solid #AAAAAA;
}

/* About us */

.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-content h2 {
  margin: 20px 0px;
  align-self: flex-start;
  font-size: 30px;
  font-weight: bold;
}

.about-us-img {
  max-width: 100%;
  border-radius: 5px;
  align-self: center;
}

/* Functionalities */

#functionalities {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 35px;
}

#functionalities h2 {
  margin-bottom: -10px;
}

.functionalities-item {
  flex-basis: 400px;
  flex-grow: 1;
  max-width: 490px;
}

/* .functionalities-item:not(:last-child) {
  margin-bottom: 15px;
} */

.functionalities-item i {
  font-size: 40px;
  margin-left: 8px;
  
} 

.functionalities-item-content p {
  font-size: 10px;
  line-height: 15px;
}

/* Why trackgenix */

.why-trackgenix-img {
  width: 247.12px;
  height: 230px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.why-trackgenix-content h2 {
  font-size: 30px;
  font-weight: bold;
}

.why-trackgenix-content ul {
  margin: 10px 0px;
}

.why-trackgenix-content button {
  width: 117px;
  height: 37px;
}

/* Contact */

#contact h2 {
  margin-bottom: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;

}

#contact-form > input, select, textarea {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
.submit-button{
  width: 171px;
}
.reset-button {
  width: 111px;
}

/* Our story */

.our-story-img {
  margin-bottom: 15px;
}

/* Our services */

/* Search how to align numbers to title */
.our-services-item:not(:last-child) {
  margin-bottom: 15px;
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {

  #about-us {
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: auto;
  }

  .about-us-img {
    width: 352px;
    flex-basis: 40%;
    flex-grow: 1;
  }

  .about-us-content {
    flex-basis: 40%;
    flex-grow: 1;
    margin-right: 47px;
  }

  .about-us-content h2 {
    margin-top: 0px;
  }

  #functionalities {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .functionalities-item {
    display: flex;
    align-items: center;
    flex-basis: 300px;
  }
  
  .functionalities-item i {
    font-size: 40px;
    margin-right: 10px;

  } 
}

@media (min-width:1024px) {
  .functionalities-item{
    flex-basis: 462px;
  }
}